 RewriteBase /series/videobox/
 RewriteEngine On
 RewriteRule  ^channel/([a-zA-Z0-9_-]+)$ channel.php?c=$1
 RewriteRule  ^watch/([a-zA-Z0-9_-]+)$ watch.php?videoid=$1
 
  RewriteRule  ^([a-zA-Z0-9_-]+)$ profile.php?u=$1